<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css">
    
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="EspacioEventos" *ngFor="let event of eventsService.EventsAllPager; index as i">
            <div class="card" >
                <img class="card-img-top" src="{{event.imagen}}" style="height: 250px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <h6>{{event.title}}</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6" id="attendances">
                            <h6>{{event.attendances}}</h6>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <h6>{{event.date}}</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <button  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                             (click)="ObtenerLocalizaciones(event.location,i)"   class="form-control btn btn-info">Ver direccion</button>
                            <div *ngIf="posicion === i" class="collapse" id="collapseExample">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <h6>{{event.description}}</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <button *ngIf="!booleanEvent[i]" class="form-control btn btn-success" (click)="AsistirEvent(event._id,i)">Asistire</button>
                            <button *ngIf="booleanEvent[i]" class="form-control btn btn-danger" (click)="CancelarEvent(event._id,i)">Cancelar Asistencia</button>
                        </div>
                    </div>
                </div>
              </div>
        </div>

    </div>
    <div class="row justify-content-center" style="margin-block-start: 2%;">
        <!-- paginacion -->
        <nav aria-label="Paginación" style="background-color:transparent">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage == 1}">
                    <a class="page-link" (click)="setUrl(1)">Primera</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage == 1}">
                    <a class="page-link" (click)="setUrl(pager.currentPage - 1)">&laquo;</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages"
                    [ngClass]="{active:pager.currentPage == page}">
                    <a class="page-link" (click)="setUrl(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                    <a class="page-link" (click)="setUrl(+pager.currentPage + 1)">&raquo;</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                    <a class="page-link" (click)="setUrl(pager.totalPages)">Última</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
